@use "config" as *;

 * {
    margin: 0;
    padding: 0;
  }

  @font-face {
  font-family: "VendSans";
  src: url("../Vend_Sans/VendSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VendSans";
  src: url("../Vend_Sans/VendSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

  @font-face {
  font-family: "Google_Sans_Code";
  src: url("../Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  }

body {
  font-family: "VendSans", sans-serif;
  
}

html, body {
  height: 100%;
  margin: 0;
}



.about {
    min-height: 100vh;
    background:  linear-gradient(to right, #afafaf, #ffffff);

  .menu-contenitore {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    

    .menu {
      display: flex;
      justify-content: space-around;
    }

      li {
        display: inline-flex;
        display: flex;
        list-style: none;
        align-items:center; 
        font-size: 15.5px; 
        padding: 1px;
      }

      a {
        text-decoration: none;
        color: white;
        padding: 5px;

        &:hover { 
          transform: scale(1.2);
          transition: 0.3s ease;
          opacity: 0.8;
        }

        &:hover img {
          transform: scale(1.2);
          transition: 0.3s ease;
          opacity: 0.8;
        }
        
      }

      .pagina {
        color: $secondary-color;
        font-size: 21px;
      }    
      
  }
}






