@use "config" as *;

 * {
    margin: 0;
    padding: 0;
  }

  @font-face {
  font-family: "VendSans";
  src: url("../Vend_Sans/VendSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VendSans";
  src: url("../Vend_Sans/VendSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "VendSans", sans-serif;
}

.home {

  .menu-contenitore {
    margin: 0;
    padding: 8px;
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    

    .menu {
      display: flex;
      justify-content: space-around;
    }

      li {
        display: inline-flex;
        display: flex;
        list-style: none;
        align-items:center; 
        font-size: 22px; 
        padding: 1px;
      }

      a {
        text-decoration: none;
        color: white;
        padding: 5px;

        &:hover { 
          transform: scale(1.2);
          transition: 0.3s ease;
          opacity: 0.8;
        }

        &:visited {
          color: $secondary-color;
        }

        &:hover img {
          transform: scale(1.2);
          transition: 0.3s ease;
          opacity: 0.8;
        }
        
      }

      .pagina {
        color: $secondary-color;
        font-size: 28px;
      }    

      
  }
}
