@use "config" as *;

 * {
    margin: 0;
    padding: 0;
  }

  @font-face {
  font-family: "VendSans";
  src: url("../Vend_Sans/VendSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VendSans";
  src: url("../Vend_Sans/VendSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

  @font-face {
  font-family: "Google_Sans_Code";
  src: url("../Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  }

  @mixin primary-text {
  line-height: 25px;
  font-family: "VendSans", sans-serif;
  font-style: italic;
  font-weight: 350;
  font-size: 15px;
}

body {
  font-family: "VendSans", sans-serif;
  
}

html, body {
  height: 100%;
  margin: 0;
}


.passioni {
    min-height: 100vh;
    background:  linear-gradient(to right, #afafaf, #ffffff);

  .menu-contenitore {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    z-index: 3;

    .icona {
      display: flex;
      justify-content: first baseline;
    }

      a {
        display: inline-flex;
        display: flex;
        list-style: none;
        align-items:center; 
        padding: 7px;
        margin-left: 30px;

       &:hover img {
          transform: scale(1.2);
          transition: 0.3s ease;
          opacity: 0.8;
        }
        
      }    
    }

    .paragrafo-1 {
        display: flex;
        position: absolute;
        margin-top: 75px;
        margin-left: 65px;
        text-align: center;
        inline-size: 300px;
        @include primary-text;
        padding-top: 0;
    }

     .paragrafo-2 {
        display: flex;
        position: absolute;
        margin-top: 640px;
        margin-left: 1025px;
        text-align: center;
        inline-size: 430px;
        @include primary-text;
        padding-bottom: 0;
    }

    .mondo {
        display: flex;
        position: absolute;
        margin-top: -30px;
        margin-left: 175px;
        filter: invert(-1) brightness(1.4) contrast(1.2);
        opacity: 0.6;   
        
    }

    .foto-viaggi {
      display: flex;

      P {
        font-family: "VendSans", sans-serif;
        text-align: center;
        padding-top: 12px;
        font-size: 14px;
                
      }
         
    

      .ecuador {
        background-color: #ffffff;
        padding: 8px 5px 25px 5px ;
        position: absolute;
        margin-top: 220px;
        margin-left: 100px;
        box-shadow: 1px 1px 4px 0 rgb(61, 61, 61);
        transform: rotate(8deg);
      }

      .puntina-ecuador {
        position: absolute;
        margin-top: 190px;
        margin-left: 150px;
        transform: rotate(-8deg);

      }

       .siviglia {
        background-color: #ffffff;
        padding: 8px 5px 25px 5px ;
        position: absolute;
        margin-top: 300px;
        margin-left: 300px;
        box-shadow: 1px 1px 4px 0 rgb(61, 61, 61);
        transform: rotate(-12deg);
      }

      .puntina-siviglia {
        position: absolute;
        margin-top: 260px;
        margin-left: 390px;
      }
      
       .madeira {
        background-color: #ffffff;
        padding: 8px 5px 25px 5px ;
        position: absolute;
        margin-top: 450px;
        margin-left: 165px;
        box-shadow: 1px 1px 4px 0 rgb(61, 61, 61);
        transform: rotate(2.5deg);
      }

      .puntina-madeira {
        position: absolute;
        margin-top: 430px;
        margin-left: 155px;
        transform: rotate(-10deg);
      }

       .galapagos {
        background-color: #ffffff;
        padding: 8px 5px 25px 5px ;
        position: absolute;
        margin-top: 100px;
        margin-left: 1000px;
        box-shadow: 1px 1px 4px 0 rgb(61, 61, 61);
        transform: rotate(15deg); 
      }

      .puntina-galapagos {
        position: absolute;
        margin-top: 65px;
        margin-left: 1005px;
        transform: rotate(-10deg);
      }

       .amsterdam {
        background-color: #ffffff;
        padding: 8px 5px 25px 5px ;
        position: absolute;
        margin-top: 130px;
        margin-left: 1240px;
        box-shadow: 1px 1px 4px 0 rgb(61, 61, 61);
        transform: rotate(-15deg);
        z-index: 1;
      }

       .puntina-amsterdam {
        position: absolute;
        margin-top: 105px;
        margin-left: 1315px;
        transform: rotate(10deg);
        z-index: 2;
      }

       .valencia {
        background-color: #ffffff;
        padding: 8px 5px 25px 5px ;
        position: absolute;
        margin-top: 315px;
        margin-left: 1070px;
        box-shadow: 1px 1px 4px 0 rgb(61, 61, 61);
        transform: rotate(-12deg);
      }

       .puntina-valencia {
        position: absolute;
        margin-top: 290px;
        margin-left: 1130px;
        transform: rotate(-5deg);
      }

      .egitto {
        background-color: #ffffff;
        padding: 8px 5px 25px 5px ;
        position: absolute;
        margin-top: 370px;
        margin-left: 1230px;
        box-shadow: 1px 1px 4px 0 rgb(61, 61, 61);
        transform: rotate(8deg);
        z-index: 2;
      }

       .puntina-egitto {
        position: absolute;
        margin-top: 345px;
        margin-left: 1280px;
        transform: rotate(-10deg);
        z-index: 3;
      }
  
    }

    .divisorio {
      display: block;
      margin-top: 710px;
      font-size: 30px;
      text-align: center;
    }

    .aereo {
      margin-top: -40px;
      margin-left: 655px;
      position: absolute;


    }

    
    


}